

@Styles.Render("~/Content/bootstrap.min.css")
@Styles.Render("~/Content/font-awesome.min.css")
@Styles.Render("~/Content/Site.css")

@if (Request.IsAuthenticated) { 
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li>@Html.ActionLink("Profile", "Index", "User", new { id = @WebSecurity.CurrentUserId },null)</li>
            <li>@Html.ActionLink("Edit", "Edit", "User", new { id = @WebSecurity.CurrentUserId },null)</li>
            <li>@Html.ActionLink("Friends", "ShowFriends", "User", new { id = @WebSecurity.CurrentUserId }, null)</li>
            <li>@Html.ActionLink("People", "ShowAllUsers", "User", new { id = @WebSecurity.CurrentUserId }, null)</li>
            <li>@Html.ActionLink("Search", "Search", "User", new { id = @WebSecurity.CurrentUserId }, null)</li>
            <li>@Html.ActionLink("Dialogs", "ShowDialogs", "User", new { id = @WebSecurity.CurrentUserId }, null)</li>
        </ul>
    </div><!--/.nav-collapse -->
}
