@model Abstract.Entities.UserProfile

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h2>Edit Profile</h2>
            <hr />
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.FirstName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.LastName)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.LastName)
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.BirthDate)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.BirthDate)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Gender)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Gender)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Location.Country)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Location.Country)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Location.City)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Location.City)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Location.Address)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Location.Address)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Contacts.ContEmail)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Contacts.ContEmail)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.Label("Phone number")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Contacts.PhoneNum)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.Label("Mobile phone number")
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Contacts.PhoneNum)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Contacts.ICQ)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Contacts.ICQ)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.LabelFor(m => m.Contacts.Skype)
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Contacts.Skype)
                    </div>
                </div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="form-horizontal">
                <div class="col-sm-offset-5 col-sm-2">
                    <input type="submit" class="btn btn-primary btn-login" id="SubmitBtn" value="Save" />
                </div>
            </div>
        </div>
    </div>
}

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
