@model Abstract.Entities.UserProfile

<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="text-center">
            <h2>
                @Html.DisplayFor(m => m.AboutUser.FirstName)
                @Html.DisplayFor(m => m.AboutUser.LastName)
            </h2>
            <hr />
        </div>
    </div>
    @if (ViewBag.Button == true && Request.IsAuthenticated)
    {
        <div class="row">
            <div class="col-md-6" id="button">
                @if (ViewBag.TypeButton == true)
                {
                    @*@Ajax.ActionLink("Add to friends", "AddFriend", "User",
                    new AjaxOptions
                 {
                     UpdateTargetId="button",
                 })*@
                    @Html.ActionLink("Add to friends", "AddFriend", "User", 
        new { id = this.ViewContext.RouteData.Values["id"] }, null)
                }
                else
                {
                    @*@Ajax.ActionLink("Delete from friends", "DeleteFriend", "User",
                    new AjaxOptions
                 {
                     UpdateTargetId="button",
                 })*@
                    @Html.ActionLink("Delete from friends", "DeleteFriend", "User", 
        new { id = this.ViewContext.RouteData.Values["id"] }, null)
                }
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Send Message", "ShowMessages", "User",
        new { id = this.ViewContext.RouteData.Values["id"] }, null)
            </div>
        </div>
        <hr />
    }
</div>

<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.AboutUser.BirthDate)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.AboutUser.BirthDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.AboutUser.Gender)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.AboutUser.Gender)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Location.Country)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Location.Country)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Location.City)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Location.City)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Location.Address)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Location.Address)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Contacts.ContEmail)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.ContEmail)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.Label("Phone number")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.PhoneNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.Label("Mobile phone number")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.PhoneNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Contacts.ICQ)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.ICQ)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Contacts.Skype)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.Skype)
                </div>
            </div>
        </div>
    </div>
</div>