@model Abstract.Entities.UserProfile

<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="text-center">
            <h2>
                @Html.DisplayFor(m => m.FirstName)
                @Html.DisplayFor(m => m.LastName)
            </h2>
            <hr />
        </div>
    </div>
    @Html.Action("FriendButtons", "User")
</div>

<div class="col-md-6 col-md-offset-3">
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.BirthDate)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.BirthDate)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.Label("Are you man?")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Gender)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Location.Country)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Location.Country)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Location.City)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Location.City)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Location.Address)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Location.Address)
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Contacts.ContEmail)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.ContEmail)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.Label("Phone number")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.PhoneNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.Label("Mobile phone number")
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.PhoneNum)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Contacts.ICQ)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.ICQ)
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="form-horizontal">
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.LabelFor(m => m.Contacts.Skype)
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-horizontal">
                    @Html.DisplayFor(m => m.Contacts.Skype)
                </div>
            </div>
        </div>
    </div>
</div>