@model Irufushi.WebUI.Models.SearchModel

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="text-center">
            <h2>Search</h2>
            <hr />
        </div>
    </div>
</div>

@using (Html.BeginForm())
{
    <div class="col-md-6 col-md-offset-3">
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.FirstName)
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                            @Html.TextBoxFor(m => m.FirstName)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.LastName)
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.LastName)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.Country)
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.Country)
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-horizontal">
                <div class="col-md-6">
                    @Html.LabelFor(m => m.City)
                </div>
                <div class="col-md-6">
                    <div class="form-horizontal">
                        @Html.TextBoxFor(m => m.City)
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row ">
            <div class="form-horizontal">
                <div class="col-sm-offset-5 col-sm-2">
                    <input type="submit" class="btn btn-primary" id="SubmitBtn" value="Search" />
                </div>
            </div>
        </div>
        <hr />
    </div>

    <div class="col-md-6 col-md-offset-3">
        @foreach (var item in Model.Users)
        {
            <div class="row">
                <div class="form-horizontal">
                    <div class="col-md-8">
                        @Html.ActionLink(item.FirstName + " " + item.LastName,
        "Index", "User", new { id = item.UserId }, null)
                    </div>
                </div>
            </div>
            <br />
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
                    
